<h1>Rendering Book Action</h1>

<%= form_tag do %>	
	<%= render :partial => "booking_form_open", :locals => {:disabled => true} %>
	
		<%= select_tag "conference_number_id", 
		         options_from_collection_for_select(@conference_numbers, :id, :conference_number), :class => "edit_field" %> <br />
		
		<%= add_button("Book", "add.png", "positive edit_field") %>
		<%= add_link("Cancel", "cross.png", "negative edit_field", bookings_path)%>
	
		<%= link_to "Test", book_path(@booking.attributes)  %>
		
	<%= render :partial => "booking_form_close" %>

<% end %> 



