<!-- Useful links
Time formatting: http://www.ruby-doc.org/core-1.9.3/Time.html#M000297 -->

<h1>View Bookings</h1>

<table class="view">
  <tr>
    <th>Conference number</th>
    <th>User</th>
    <th>Date</th>
    <th>Time start</th>
    <th>Time finish</th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td class="view">
    	<%= booking.conference_number.conference_number %>
    </td>
    <td class="view">
    	<%= booking.user.first_name %> <%=booking.user.last_name %>
    </td>    
   
    <td class="view">
    	<%= booking.date.strftime("%d/%m/%Y") %>
    </td>
    <td class="view">
    	<%= booking.time_start.strftime("%I:%M%p") %>
    </td>
    <td class="view">
    	<%= booking.time_finish.strftime("%I:%M%p") %>
    </td>
    
    <td class="view">
    	<%= link_to image_tag("textfield_rename.png", :alt => "Edit"),  
    		edit_booking_path(booking) %>
    </td>
    		
    <td class="view">
    	<%= link_to image_tag("cross.png", :alt => "Delete"), 
    		booking,
    		confirm: "Are you sure you want to delete this booking?", 
    		method: :delete %>
    </td>
    
  </tr>
<% end %>
</table>

<p> <%= will_paginate @orders %></p>

<br />

<%= link_to 'New Booking', new_booking_path %>




