<p>
  <b>Conference number:</b>
  <%= @booking.conference_number_id %>
</p>

<p>
  <b>User:</b>
  <%= @booking.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @booking.date %>
</p>

<p>
  <b>Time start:</b>
  <%= @booking.time_start %>
</p>

<p>
  <b>Time finish:</b>
  <%= @booking.time_finish %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Return to Bookings', bookings_path %>

