<h1>View Booking</h1>

<table class="view">
	<tr>
		<td class="heading">Conference Number:</td>		
		<td>
			<%= ConferenceNumber.find(@booking.conference_number_id).conference_number %>
		</td>
	</tr>
	<tr>
		<td class="heading">User:</td>
		<td>
			<%= User.find(@booking.user_id).first_name %>
			<%= User.find(@booking.user_id).last_name %>
		</td>
	</tr>
	<tr>
		<td class="heading">Date:</td>
		<td>
			<%= @booking.date %>
		</td>
	</tr>	
	<tr>
		<td class="heading">Time Start:</td>
		<td>
			<%= @booking.time_start.strftime("%I:%M%p") %>
		</td>
	</tr>
	<tr>
		<td class="heading">Time Finish:</td>
		<td>
			<%= @booking.time_finish.strftime("%I:%M%p") %>			</td>
	</tr>
</table>

<div class="buttons">
	<%= link_to image_tag("textfield_rename.png") + "Edit This Booking", 
		edit_booking_path(@booking), :class => "positive" %>
		
	<%= link_to image_tag("arrow_left.png") + "Back to Bookings", 
		bookings_path, :class => "regular" %>		
</div>


