<h1> Test One </h1>

<table>
  	<tr>
	    <th>Conference number</th>
	    <th>User</th>
	    <th>Date</th>
	    <th>Start Time</th>
	    <th>Finish Time</th>
	</tr>
<% @bookings.each do |booking| %>
	<tr>
		<td>
    		<%= booking.conference_number.conference_number %>
    	</td>
	    <td>
	    	<%= booking.user.first_name %> <%=booking.user.last_name %>
	    </td>    
        <td>
	    	<%= booking.date.strftime("%d/%m/%Y") %>
	    </td>
	    <td>
	    	<%= booking.time_start.strftime("%I:%M%p") %>
	    </td>
	    <td>
	    	<%= booking.time_finish.strftime("%I:%M%p") %>
	    </td>
	</tr>	  
<% end %>
</table>

<br />

<%= button_to "Go to Test 1", test1_path, remote: true %>

<%= debug(@booking) %>
