<h1> Test Two </h1>

<% @date = "Friday, 9 March, 2012"%>



<%= Time.parse("#{@date} 15 March 2012 10:00 AM") %> <br />
<%= Date.parse("#{@date}") %>
<br />
<%= Time.now %>
<br />

<%= debug(params[:date]) %>

  <%= form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>

		<%= text_field_tag :date, params[:date] %> <br /> <br />
		
		<%= text_field_tag :date2, params[:date2] %> <br /> <br />
		
		<%= text_field_tag :time, params[:time] %> <br /> <br />
  
      <div>
        <%= submit_tag "Test!" %>
      </div>
    </fieldset>
  <% end %>
  

<%= @my_date = Date.parse(params[:date]) if params[:date] %> <br /> <br />

<%= @my_time = Time.parse(params[:time]) if params[:time] %> <br /> <br />

<%= Time.parse("#{@my_date} #{@my_time}") if params[:date] %> <br />
This stuff is awesome - this above, is exactly what I need