<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logon %><br />
    <%= f.text_field :logon %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :spectrum_number %><br />
    <%= f.text_field :spectrum_number %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
 
  <% if session[:user_id] and User.find(session[:user_id]).admin %>
	<div class="field">
   		<%= f.label :admin %><br />
		<%= f.collection_select :admin, User.select("admin").uniq, :admin, :admin %>
  	</div>
  <% end %>
  
  <%= add_button("Create User", "add.png", "positive") %>
  
<% end %>
