<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
	<div class="left">
	    <%= f.label :logon, :class => "edit_label" %> <br />
	    <%= f.label :first_name, :class => "edit_label" %> <br />
	    <%= f.label :last_name, :class => "edit_label" %> <br />
	    <%= f.label :spectrum_number, :class => "edit_label" %> <br />
	    <%= f.label :password, :class => "edit_label" %> <br />
	    
		<% if session[:user_id] and User.find(session[:user_id]).admin %>   		
	    	<%= f.label :admin, :class => "edit_label" %> <br />
		<% end %>
	</div>
	
<!--     Text Fields -->
	<div class="right">
	    <%= f.text_field :logon, :class => "edit_field" %>  <br />
	    <%= f.text_field :first_name, :class => "edit_field" %> <br />    
	    <%= f.text_field :last_name, :class => "edit_field" %>  <br />
	    <%= f.text_field :spectrum_number, :class => "edit_field" %>  <br />    
	    <%= f.text_field :password, :class => "edit_field" %> <br />
	 
		<% if session[:user_id] and User.find(session[:user_id]).admin %>   		
			<%= f.collection_select(:admin, User.select("admin").uniq, :admin, :admin, 
			{}, {:class=>"edit_field"}) %> <br />
		<% end %>
	  
	  	<%= add_button(button_label, "add.png", "positive edit_field") %>
	  	<%= add_link("Cancel", "cross.png", "negative edit_field", users_path) %>
  </div>
<% end %>
</div>
