<h1>Listing users</h1>

<table class="view">
  <tr>
    <th>Logon</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Spectrum number</th>
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<th>Password</th>
    	<th>Admin</th>	
   		<th></th>
    	<th></th>
	<% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="view">
    	<%= user.logon %>
    </td>
    <td class="view">
    	<%= user.first_name %>
    </td>
    <td class="view">
    	<%= user.last_name %>
    </td>
    <td class="view">
    	<%= user.spectrum_number %>
    </td>
    
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<td class="view">
    		<%= user.password %>
    	</td>
   		<td class="view">
   			<%= user.admin %>
   		</td>
  
   	<td class="view">
    	<%= link_to image_tag("textfield_rename.png", :alt => "Edit"),  
    		edit_user_path(user)  %>
    </td>
    		
    <td class="view">
    	<%= link_to image_tag("cross.png", :alt => "Delete"), 
    		user,
    		confirm: "Are you sure you want to delete #{user.first_name}?", 
    		method: :delete %>
    </td>
    	
    	
    <% end %>
    

  </tr>
<% end %>
</table>

<br />

<% if session[:user_id] and User.find(session[:user_id]).admin %>
	<%= link_to 'New User', new_user_path %>
<% end %>