<h1>Listing users</h1>

<table>
  <tr>
    <th>Logon</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Spectrum number</th>
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<th>Password</th>
    	<th>Admin</th>
	<% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.logon %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.spectrum_number %></td>
    
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<td><%= user.password %></td>
   		<td><%= user.admin %></td>
  
	    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    	<td><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
    
    <% if user.id == session[:user_id]%>
    	<td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:user_id] and User.find(session[:user_id]).admin %>
	<%= link_to 'New User', new_user_path %>
<% end %>