<h1>User List</h1>

<table class="view">
  <tr>
    <th>Logon</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Spectrum Number</th>
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<th>Password</th>
    	<th>Admin</th>	
   		<th></th>
    	<th></th>
	<% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="view">
    	<%= user.logon %>
    </td>
    <td class="view">
    	<%= user.first_name %>
    </td>
    <td class="view">
    	<%= user.last_name %>
    </td>
    <td class="view">
    	<%= user.spectrum_number %>
    </td>
    
    <% if session[:user_id] and User.find(session[:user_id]).admin %>
    	<td class="view">
    		<%= user.password %>
    	</td>
   		<td class="view centre">
   			<%= image_tag("apply.png") if user.admin %>
   		</td>
  	
  	
   		<td class="view"> <div class="buttons">		
    	<%= link_to image_tag("textfield_rename.png", :alt => "Edit") + "Edit",  
    		edit_user_path(user), :class => "regular"  %>
   	 	</td> </div>  
    		
   	 	<td class="view"> <div class="buttons">		
    	<%= link_to image_tag("cross.png", :alt => "Delete") + "Delete", 
    		user, :class => "negative",
    		confirm: "Are you sure you want to delete #{user.first_name}?", 
    		method: :delete 
    		%>
   	 	</td> </div>      	
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>

<br />

<% if session[:user_id] and User.find(session[:user_id]).admin %>
	
	<div class="buttons">
		<%= link_to image_tag("add.png") + "New User", 
			new_user_path, :class => "positive" %>
	</div>
	
<% end %>