<p id="notice"><%= notice %></p>

<p>
  <b>Logon:</b>
  <%= @user.logon %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Spectrum number:</b>
  <%= @user.spectrum_number %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<%= link_to 'Update My Profile', edit_user_path(@user) %>

