<div class="form">
	<div class="left">
		<label class="edit_label">Logon:</label> <br />
		<label class="edit_label">First Name:</label> <br />
		<label class="edit_label">Last Name:</label> <br />
		<label class="edit_label">Spectrum Number:</label> <br />
	</div>	
	
	<div class="right">			
  		<label class="edit_field"><%= @user.logon %></label> <br />
	  	<label class="edit_field"><%= @user.first_name %></label> <br />
		<label class="edit_field"><%= @user.last_name %></label> <br />
		<label class="edit_field"><%= @user.spectrum_number %></label> <br />
  		
		<%= add_link("Update My Profile", "textfield_rename.png", "regular edit_field", 
		edit_user_path(@user)) %>
	</div>
</div>
