<%= form_for(@conference_number) do |f| %>
  <% if @conference_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference_number.errors.count, "error") %> prohibited this conference_number from being saved:</h2>

      <ul>
      <% @conference_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
	<div class="left">
    	<%= f.label :conference_number, :class => "edit_label" %>
    </div>
    
    <div class="right">
	    <%= f.text_field :conference_number, :class => "edit_field" %> <br />
	  	 
	  	<%= add_button("Create Conference Number", "add.png", "positive edit_field") %>
		<%= add_link("Cancel", "cross.png", "negative edit_field", conference_numbers_path) %>						  	
  	</div>
</div>  
<% end %>

