<h1>Conference Numbers</h1>

<table class="view">
<% @conference_numbers.each do |conference_number| %>
  <tr>
    <td class="heading"><%= conference_number.conference_number %></td>
    <td> <div class="buttons">	
    	<%= link_to image_tag("textfield_rename.png", :alt => "Edit") + "Edit",  
    		edit_conference_number_path(conference_number), :class => "regular"  %>
    </td> </div>
    		
    <td> <div class="buttons">	
    	<%= link_to image_tag("cross.png", :alt => "Delete") + "Delete", 
    		conference_number, :class => "negative",
    		confirm: "Are you sure you want to delete #{conference_number.conference_number}?", 
    		method: :delete %>
    </td> </div>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @conference_numbers %>

<div class="buttons">
	<%= link_to image_tag("add.png") + "New Conference Number", 
		new_conference_number_path, :class => "positive" %>
</div>