<!DOCTYPE html>
<html>
<head>
  <title>Conference Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" %>
    
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" %>
  <%= javascript_include_tag "http://labs.perifer.se/timedatepicker/jquery.timePicker.js" %>
    
  <%= csrf_meta_tags %>
</head>

<%= render :partial => "layouts/user_nav" %>

<% if session[:user_id] and User.find(session[:user_id]).admin %>
	<%= render :partial => "layouts/admin_nav" %>
<% end %>

<% if flash[:notice] %>
	<div class="flash success">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if flash[:error] %>
	<div class="flash failure">
		<%= flash[:error] %>
	</div>
<% end %>

<body>
	
<div class="main">
	<%= yield %>
</div>

</body>
</html>
